<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<%= render 'layouts/header'  %>

<body>
	<div class = "container">
		<div class = "row">
			<div class = "span12">
      <%= render 'layouts/flash_message' %>
      <%= yield %>
      </div>
	</div>
</div>
</body>
</html>
